[Unit]
Description = WinBoat Virtual Machine Monitoring Service
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStart=/bin/bash /usr/local/bin/winboat_monitor.sh
Restart=on-failure
User=kuritsu

[Install]
WantedBy=multi-user.target

