[Unit]
Description=WinBoat Virtual Machine Monitoring Service
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStart=stdbuf -oL /usr/local/bin/winboat_monitor.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
